---
interface BoardMember {
  name: string;
  role: string;
  description: string;
  image: string;
}

const boardMembers: BoardMember[] = [
  {
    name: "Fields Marshall",
    role: "Co-Founder",
    description:
      "Raised in Virginia, Fields spent much of his 20s exploring rivers in the Blue Ridge Mountains. In his 30s ,Fields moved to Chile for 15 years where he continued exploring and documenting the rivers of the Andes.  In Oregon , continues to enjoy time with nature  in the Salmon  River, Rogue river and Smith river.  Fields is the co author of the website rivers of Chile and his adventures with his dog Gonker was the subject of a film in Fields called Dog Gone",
    image: "/img/fieldsmarshall.jpg",
  },
  {
    name: "Tim Olson",
    role: "Co-Founder",
    description:
      "Timothy Olson, an American ultrarunner born in Wisconsin, overcame personal challenges through running. He won the Western States 100 in 2012 and 2013, setting a course record in 2012. In 2021, Olson set a new fastest known time on the Pacific Crest Trail, completing the 2,653-mile route in 51 days, 16 hours, and 55 minutes. This journey was documented in the film 'The Mirage.' He currently resides in Applegate, Oregon, with his wife, Krista, and their three children.",
    image: "/img/timolson.jpg",
  },
];
---

<section class="pt-8">
  <div class="px-6 sm:px-8 md:px-12 lg:px-16 xl:px-24 2xl:px-32 py-12">
    <div class="container mx-auto">
      <h2 class="text-3xl font-bold text-center text-green-600">Leadership</h2>
      <div class="mt-8 space-y-10">
        {
          boardMembers.map((member) => (
            <div class="group flex flex-col md:flex-row items-center md:items-start md:space-x-8">
              <div class="w-full md:w-1/4 overflow-hidden rounded-lg">
                <img
                  src={member.image}
                  alt={member.name}
                  class="w-full h-48 md:h-60 object-cover object-center transform transition-transform duration-300 group-hover:scale-105"
                />
              </div>
              <div class="w-full md:w-3/4">
                <h3 class="text-lg font-bold text-green-700">{member.name}</h3>
                <p class="italic ">{member.role}</p>
                <p class=" mt-2">{member.description}</p>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </div>
</section>
