---
const tripEntries = await import.meta.glob("../content/trips/*.mdx", {
  eager: true,
});
const trips = Object.values(tripEntries).map((mod) => mod.frontmatter);
---

<section
  id="trips"
  class="py-16 bg-fixed bg-no-repeat bg-right-bottom md:bg-martin-pescador capitalize"
>
  <div class="container mx-auto px-4">
    <div class="text-center mb-12">
      <h2 class="text-4xl font-bold" data-aos="slide-up">Our Trips</h2>
      <p
        class="capitalize text-lg mt-4"
        data-aos="slide-up"
        data-aos-delay="50"
      >
        Explore our exciting range of trips.
      </p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-8">
      {
        trips.map((trip, i) => (
          <a href={`/trips/${trip.slug}`}>
            <div class="group relative bg-white rounded-lg shadow-lg transition-transform duration-300 hover:scale-110 hover:shadow-2xl dark:bg-gray-900 flex flex-col h-full md:min-h-[500px] xl:min-h-[300px]">
              <div class="relative h-56 overflow-hidden">
                <img
                  src={trip.imgSrc}
                  alt={trip.description}
                  class="object-cover group-hover:scale-110 transition-transform duration-300 w-full h-full"
                />
              </div>
              <div class="p-6 flex flex-col flex-grow">
                <h3 class="text-xl font-bold mb-2 group-hover:text-green-500 capitalize">
                  {trip.name}
                </h3>
                <p class="">Dates: {trip.dates}</p>
                <p class="flex-grow">{trip.description}</p>

                <div class="mt-auto">
                  <p>{trip.price}</p>
                  <p>Click for more info</p>
                </div>
              </div>
            </div>
          </a>
        ))
      }
    </div>
  </div>
</section>
